# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pythonProject\15guided-diffusion-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
